<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article>
    <h3>Loose in the sky</h3>
    <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/12/09/23/pg-14-skyscrapers-1.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium dicta aperiam veniam saepe ipsum excepturi cupiditate. Repudiandae recusandae quod dolorum, nihil rerum ad id eveniet eos maxime laboriosam deserunt ex?</p>
  </article>
</ion-content>
